name: Build and Push to gh-pages Branch

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Push dist to gh-pages branch
        run: |
          git config user.name "rohithandanala"
          git config user.email "rohith@example.com"
          git remote set-url origin https://x-access-token:${{ secrets.gh_PAT }}@github.com/${{ github.repository }}.git
          git checkout --orphan gh-pages
          git --work-tree dist add --all
          git --work-tree dist commit -m "Deploy to gh-pages"
          git push origin HEAD:gh-pages --force

